<footer>
  <section>
    <div class="container text-footer">
      <div class="row overlay-text">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
          <h2>Follow Me On:</h2>
            <ul class="list-inline text-center" >
              <li class="list-inline-item"><a href="https://www.facebook.com/abhigyanghosh30" target="_blank"><i class="fa fa-facebook web-icons-footer"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/mastergworksinc" target="_blank"><i class="fa fa-instagram web-icons-footer"></i></a></li>
              <li class="list-inline-item"><a href="https://plus.google.com/+AbhigyanGhoshAGWPC" target="_blank"><i class="fa fa-google-plus web-icons-footer"></i></a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/abhigyanghosh30/" target="_blank"><i class="fa fa-linkedin web-icons-footer"></i></a></li>
              <li class="list-inline-item"><a href="https://twitter.com/abhigyanghosh30"><i class="fa fa-twitter web-icons-footer"></i></a></li>
            </ul>
          </div>
      </div>
    </div>
    </section>
    <!-- <section>
      <div class="row overlay-text text-center">
        <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
          <h2><img src="{{site.url}}/assets/Logo.png" class="img-fluid" height="50px"><br>
          Intellectual Property of Abhigyan Ghosh <i class="fa fa-copyright"></i></h2>
        </div>
      </div>
    </section> -->
</footer>