<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">   
	<link rel="stylesheet" type="text/css" href="https://researchweb.iiit.ac.in/~abhigyan.ghosh/assets/css/index.css">
	<link rel="stylesheet" type="text/css" href="https://researchweb.iiit.ac.in/~abhigyan.ghosh/assets/css/{{ page.title }}-background.css">
</head>
