<nav class="navbar navbar-light fixed-top">
    <a class="navbar-brand" href="https://researchweb.iiit.ac.in/~abhigyan.ghosh/index.html"><img src="https://researchweb.iiit.ac.in/~abhigyan.ghosh/assets/Logo.png" height="45"></a>
    
    <div class="collapse" id="navbarToggleExternalContent"> 
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> 
            <li class="nav-item"> <a class="nav-link" href="https://researchweb.iiit.ac.in/~abhigyan.ghosh/index.html">Home</a> </li> 
            <li class="nav-item"> <a class="nav-link" href="https://researchweb.iiit.ac.in/~abhigyan.ghosh/about">About</a> </li> 
            <li class="nav-item"> <a class="nav-link" href="https://researchweb.iiit.ac.in/~abhigyan.ghosh/cv.html">CV</a> </li>
        </ul> 
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fa fa-navicon"></i></span>
    </button>
</nav>
