<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/smooth-scroll.js"></script>
<script src="https://abhigyanghosh30.gitlab.io/new_researchweb.gitlab.io/jquery-plugin/jquery.scrollify.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script type="text/javascript">
	$(function(){
		$.scrollify({
			section: "section"
		});
	});
</script>
<script type="text/javascript">
	(function ($) {
	  	$(document).ready(function(){
		    $(".navbar").hide();
		    $(function () {
		        $(window).scroll(function () {
		            if ($(this).scrollTop() > 100) {
		                $('.navbar').fadeIn();
		            } else {
		                $('.navbar').fadeOut();
		            }
		        });
		    });

		});
	}(jQuery));
</script>
