#birth{
	background:url('../../assets/profile4.jpg') center fixed no-repeat;
}
#infant{
	background: url('../../assets/chess.jpg') center fixed no-repeat;
}
#childhood{
	background: url('../../assets/friends2.jpg') center fixed no-repeat;
}
#parents{
	background: url('../../assets/family1.jpg') center fixed no-repeat;
	background-size: cover;
}
#father{
	background: url('../../assets/family6.jpg') center fixed no-repeat;
}
#mother{
	background: url('../../assets/family3.jpg') center fixed no-repeat;
}

#siblings{
	background: url('../../assets/family4.jpg') center fixed no-repeat;
	background-size: contain;
}