@page { 
	size: 8.27in 11.69in; 
	margin: 0.5in; 
}
p{ 
	margin-bottom: 0.14in;
	line-height: 135%;
	text-align: justify;
}
p.western { 
	font-family: "Droid Sans", sans-serif; 
	font-size: 10pt; 
}
p.cjk{ 
	font-size: 10pt; 
}
h1{ 
	margin-left: 0.08in; 
	margin-right: 0.08in; 
	margin-top: 0in; 
	margin-bottom: 0.08in; 
	border: none; 
	padding: 0in; 
	color: #666666; 
	line-height: 100%; 
	text-align: left; 
	page-break-before: auto;
}
h1.western{
	font-family: "DejaVu Sans Light", sans-serif; 
	font-size: 16pt;
}
h1.cjk{ 
	font-family: "Microsoft YaHei"; 
	font-size: 16pt;
}
h1.ctl{ 
	font-family: "Mangal"; 
	font-size: 16pt; 
}
h2{ 
	margin-left: 0.05in; 
	margin-right: 0.05in; 
	margin-top: 0.05in; 
	margin-bottom: 0.05in; 
	border-top: none; 
	border-bottom: 1px solid #000000; 
	border-left: none; 
	border-right: none; 
	padding-top: 0in; 
	padding-bottom: 0.05in; 
	padding-left: 0in; 
	padding-right: 0in; 
	color:#737373; 
	line-height: 100%; 
	text-align: justify; 
	page-break-before: auto;
}
h2.western { 
	font-family: "DejaVu Sans", sans-serif;
	font-size: 10pt;
	font-style: normal; 
	font-weight: normal
}
h2.cjk{
	font-family: "Microsoft YaHei"; 
	font-size: 14pt; 
	font-style: italic; 
}
h2.ctl{ 
	font-family: "Mangal"; 
	font-size: 14pt; 
	font-style: italic;
}
h3{ 
	margin-left: 0.05in; 
	margin-right: 0.05in; 
	margin-top: 0.05in; 
	margin-bottom: 0.05in; 
	border: none; 
	padding: 0in; 
	color:#707070; 
	line-height: 100%; 
	text-align: right; 
	page-break-before: auto;
}
h3.western{ 
	font-family: "DejaVu Sans", sans-serif;
	font-size: 10pt; 
	font-weight: normal;
}
h3.cjk{
	font-family: "Microsoft YaHei";
}
h3.ctl{ 
	font-family: "Mangal";
}
h4{ 
	margin-left: 0.05in; 
	margin-right: 0.05in; 
	margin-top: 0.05in; 
	margin-bottom: 0.05in; 
	border: none; 
	padding: 0in; 
	line-height: 100%; 
	text-align: justify; 
	text-decoration: none; 
	page-break-before: auto;
}
h4.western{ 
	font-family: "DejaVu Sans", sans-serif; 
	font-size: 9pt; 
	font-style: normal;
}
h4.cjk{
	font-family: "Microsoft YaHei"; 
	font-size: 11pt; 
	font-style: italic;
}
h4.ctl{
	font-family: "Mangal";
 	font-size: 11pt;
	font-style: italic; 
}
td p { 
	margin-left: 0.05in; 
	margin-right: 0.05in; 
	margin-top: 0.05in; 
	margin-bottom: 0.05in; 	
	line-height: 100%; 
	text-align: left;
}
td p.western{ 
	font-family: "DejaVu Sans", sans-serif; 
	font-size: 9pt; 
}
td p.cjk{
	font-size: 10pt;
}
a:link{ 
	so-language: eng; 
}
td{
	style="border: none; 
	padding: 0in";
}
.table-heading{
	width:"100%";
}
