
.cover3{
	color: #212529;
	height: 100vh;
	width: 100%;
	background-image: url("https://abhigyanghosh30.gitlab.io/new_researchweb.gitlab.io/assets/friends.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cover4{
	color: #212529;
	height: 100vh;
	width: 100%;
	background-image: url("https://abhigyanghosh30.gitlab.io/new_researchweb.gitlab.io/assets/friends2.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cover5{
	color: #212529;
	height: 100vh;
	width: 100%;
	background-image: url("https://abhigyanghosh30.gitlab.io/new_researchweb.gitlab.io/assets/friends3.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.list-inline-item .fa{
	font-size: xx-large;
	color: #bba559;
}
#sravani{
	background: url('../../assets/sravani.gif') center fixed no-repeat;
	background-size: contain;
}
#ajay{
	background: url('../../assets/ajay.gif') center fixed no-repeat;
	background-size: contain;
}
#deepti{
	background: url('../../assets/deepti.gif') center fixed no-repeat;
	background-size: contain;
}
#zubair{
	background: url('../../assets/gifzub.gif') center fixed no-repeat;
	background-size: contain;
}
#shelly{
	background: url('../../assets/shelly.jpg') center fixed no-repeat;
	background-size: contain;
}
#ujwal{
	background: url('../../assets/ujwal.gif') center fixed no-repeat;
	background-size: contain;
}
#yadavalli{
	background: url('../../assets/yadavalli.jpg') center fixed no-repeat;
	background-size: contain;
}
#chacko{
	background: url('../../assets/chacko.jpg') center fixed no-repeat;
	background-size: contain;
}
#saujas{
	background: url('../../assets/saujas.jpg') center fixed no-repeat;
	background-size: contain;
}
#sriven{
	background: url('../../assets/sriven.jpg') center fixed no-repeat;
	background-size: contain;
}
#sayar{
	background: url('../../assets/sayar.jpg') center fixed no-repeat;
	background-size: contain;
}
#aaron{
	background:url('../../assets/aaron.jpg') center fixed no-repeat;
	background-size: contain;
}