body, html {
    height: 100%;
    position: relative;
    color: white;
    font-family: 'Roboto';   
}
.cover{
	height: 100vh;
	width: 100%;
}
.cover-image{
	height: 50vh;
}
.overlay-text{
	height: 100vh;
	max-width: 100%;
	/* position: absolute; */
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.cover-text{
	font-family: SheepingDogs !important;
	font-size: 10vh !important;
	color: #bba559;
}
.cover-text-bg{
	background-color: rgba(17, 22, 40, 0.8);
}
.division{
	background:#111628 url("https://abhigyanghosh30.gitlab.io/new_researchweb.gitlab.io/assets/bg-pattern.png") repeat scroll;
}
.cover2{
	height: 100vh;
	width: 100%;
	background-image: url("https://news-cdn.softpedia.com/images/news2/ubuntu-16-04-lts-xenial-xerus-default-wallpapers-revealed-gallery-502692-4.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row{
	padding-top: 15px;
}
.web-icons{
	font-size: x-large;
	color: gray;
}
.web-icons-footer{
	font-size: xx-large;
	color:#bba559;
}
.web-icons-footer:hover{	
}
.text-footer{
	color: #bba559;
}
form{
	font-family: 'Roboto';
	text-transform: uppercase;
	font-weight: 100;
}
.form-control{
	background: unset;
	color: #bba559;
	border: 1px solid #bba559;
}
.form-control::placeholder{
	color: #bba559;
	opacity: 0.8;
}
.form-control:focus{
	background-color: #111628;
	color: #bba559;
}
.btn{
	background-color: #bba559;
	border:1px solid #8e7b3a;
	color: #111628;
	border-radius: 30px;
}
.btn:hover{
	background-color: #8e7b3a;
	color: #111628;
}
@keyframes bounce
{
	0%, 20%, 60%, 100% {
    -webkit-transform:translateY(0);
    -transform: translateY(0);
  }
	40% {
    -webkit-transform: translateY(-20px);
    -transform: translateY(-20px);
  }
	80% {
    -webkit-transform:translateY(-10px);
    -transform: translateY(-10px);
  }
}

.bounce{
	color: #bba559;
	animation: bounce 2s infinite;
}

.hovereffect{
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: inherit;
}

.overlay{
	position: absolute;
 	top: 30%;
 	left: 25%;
 	right:25%;
  	background-color: rgba(255,255,255,0.5);
  	display: none;
  	text-align: center;  	
  	vertical-align: middle;
}
.hovereffect img{
	display: block;
	width:100%;
	height:100%;
	transform: scale(1);
	transition: all 1s;
	backface-visibility: hidden;

}
.text-dark{
	color:#212529 !important;
}
.hovereffect .zoom{
	transform: scale(1.25);
}
.collage{
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.centhack{
	justify-content: center;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #8e7b3a;
}
.navbar-light .navbar-nav .nav-link {
	color: #bba559;
}
.navbar-light .navbar-toggler {
	color: #bba559;
	border-color: rgba(187,165,89,.1);
}
@font-face{
	font-family: SheepingDogs;
	src: url( "../../assets/SheepingDogs.ttf" );	
}
.logo-text{
	font-family: SheepingDogs;
	font-weight: 100;
	color: #bba559;
}
.section_heading{
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 100;
	color: white;
}
.section_subheading{
	text-transform: uppercase;
	font-style: bold;
	color: #bba559;
}
.list-group-item{
	background:unset;
	color: #bba559;
	font-family: 'Roboto';
}
.text-gold{
	color: #bba559;
}
.text-blue{
	color: #111628;
}
/*Media specific css*/
@media screen and (max-width: 320px)
{
	.web-icons .web-icons-footer{
		font-size: large;
	}
}
@media screen and (max-height: 375px)
{
	.cv-image{
		display: none;
	}
}