---
layout: page
---	

<body class="division" data-spy="scroll" data-target=".navbar" data-offset="50">
<!-- Navbar (sit on top) -->


<!-- Page content -->
<section class="cover2">
	<div class="cover-text-bg container" id="home">
		<div class="row overlay-text">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				<h1 class="section_subheading text-gold">SERIOUSLY IT DOESN'T MATTER WHAT OTHERS THINK<br><a href="#birth"><i class="fa fa-angle-double-down bounce"></i></a></h1>
			</div>	
		</div>
	</div>
</section>

<!--main body starts-->
<div class="container">

	<!--Birth-->
	<section id="birth">	
		<div class="cover">
			<div class="container" >
				<div class="row overlay-text cover-text-bg">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">		
	  				</div>	
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-right">
						<h1 class="section_heading">An Auspicious Day </h1>
						<h2 class="section_subheading">A legend is born</h2>
						<p>I was born at a hospital room in the town of Jamshedpur in the state of Jharkhand in a country called India</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Parents-->
	<section id="parents">	
		<div class="cover">
			<div class="container" >
				<div class="row overlay-text cover-text-bg">
						
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-right">
						<h1 class="section_heading">Where He Comes From</h1>
						<h2 class="section_subheading">The stereotypical support system</h2>
						<p>Born in a middle class house. Parents are both Bengalis and hence that's what my mother tongue became although I spoke Hindi more often</p>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">		
	  				</div>
				</div>
			</div>
		</div>
	</section>
	<section id="father">	
		<div class="cover">
			<div class="container" >
				<div class="row overlay-text cover-text-bg">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">		
	  				</div>	
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-right">
						<h1 class="section_heading">A Strong Father</h1>
						<h2 class="section_subheading">A genetically passed Scopophobia</h2>
						<p>The most important person in the family and the only worthwhile person in the house.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="mother">	
		<div class="cover">
			<div class="container" >
				<div class="row overlay-text cover-text-bg">	
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-right">
						<h1 class="section_heading">Loving Mother</h1>
						<h2 class="section_subheading">A non-gentically inherited intelligence</h2>
						<p></p>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">		
	  				</div>
				</div>
			</div>
		</div>
	</section>
	<section id="siblings">	
		<div class="cover">
			<div class="container" >
				<div class="row overlay-text cover-text-bg">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center"></div>	
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-right">
						<h1 class="section_heading">Alone</h1>
						<h2 class="section_subheading">Siblings without rivalry</h2>
						<p>Doesn't have any siblings but has cousins who love him more than siblings</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Infancy-->
	<section id="infant">	
		<div class="cover">
			<div class="container" >
				<div class="row overlay-text cover-text-bg">
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-right">
						<h1 class="section_heading">A Unique Kid</h1>
						<h2 class="section_subheading">Initial signs of greatness</h2>
						<p>Curious, Intelligent and a Quick Learner.</p>
						<h5>WARNING:</h5><p> Don't compete with a Russian in chess. Such acts of foolishness may prove to be fatal and scarring</p>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">		
	  				</div>
				</div>
			</div>
		</div>
	</section>
	<!--Childhood-->
	<section id="childhood">	
		<div class="cover">
			<div class="container" >
				<div class="row overlay-text cover-text-bg">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">		
	  				</div>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-right">
						<h1 class="section_heading">Childhood Friends</h1>
						<h2 class="section_subheading">He hates humans!</h2>
						<p>Introvert with minimal human company. Made a few friends</p>
						<a class="btn" href="https://researchweb.iiit.ac.in/~abhigyan.ghosh/friends.html">My Friends</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--About Family-->
</div>
<script src="/jquery-plugin/jquery.scrollify.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script type="text/javascript">
	$(function(){
		$.scrollify({
			section: "section"
		});
	});
</script>