---
layout: page
---
<section>
	<!-- Page content -->
	<div class="cover">
		<div class="container" id="home">
			<div class="row overlay-text">
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					<h1 class="section_heading text-center">ABHIGYAN GHOSH</h1>
					<h3 class="section_subheading cover-text-bg text-center">SECOND YEAR STUDENT AT IIIT-H</h3>
				</div>	
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
					<img src="https://researchweb.iiit.ac.in/~abhigyan.ghosh/assets/profile.jpg" class="img-fluid cv-image">
				</div>
			</div>
		</div>
	</div>
</section>
	<div class="container">
		<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h5>+CONTACT <i class="fa fa-phone"></i></h5>
				</div>
			</div>
			<ul class="list-group cover-text-bg">	
				<li class="list-group-item"><div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<h5>ADDRESS</h5>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<p>International Institue of Information Technology<br>Gachibowli<br>Hyderabad</p>
					</div>
				</div></li>
				<li class="list-group-item"><div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<h5>PHONE</h5>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<p>9007355023</p>
					</div>
				</div></li>
				<li class="list-group-item"><div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<h5>EMAIL</h5>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<a href="mailto:abhigyanghosh30@gmail.com"><p>abhigyanghosh30@gmail.com</p></a>
					</div>
				</div></li>
				<li class="list-group-item"><div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<h5>NATIONALITY</h5>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<p>Indian</p>
					</div>
				</div></li>
				<li class="list-group-item"><div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<h5>DATE OF BIRTH</h5>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<p>30 November 1998 (19 years old)</p>
					</div>
				</div></li>
				<li class="list-group-item"><div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<h5>GENDER</h5>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<p>Male</p>
					</div>
				</div></li>
			</ul>	
		</div>
		</section>
		<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h5>+AWARDS AND EXPERIENCES <i class="fa fa-trophy"></i></h5>
				</div>
			</div>
			<ul class="list-group cover-text-bg">
				<li class="list-group-item"><div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<h5>NATIONAL TALENT SEARCH EXAMINATION(NTSE)</h5>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<p>Qualified for Stage-2<br>Didnot Qualify for Stage 3</p>
					</div>
				</div></li>
				<li class="list-group-item"><div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<h5>KISHORE VAIGYANIK PROTSAHAN YOGNA(KVPY)</h5>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<p>Seleted for Scholarship with AIR 707</p>
					</div>
				</div></li>
				<li class="list-group-item"><div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<h5>JOINT ENTRANCE EXAMINATION</h5>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<p>JEE Mains AIR 6749<br>JEE Advanced AIR 5323</p>
					</div>
				</div></li>
				<li class="list-group-item"><div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<h5>INSPIRE INTERNSHIP CAMP AT ISM(IIT) DHANBAD</h5>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<p>Seleted to represent school.</p>
					</div>
				</div></li>
				<li class="list-group-item"><div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<h5>DBMUN 2016</h5>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<p>Vice-Chairperson of Lok Sabha</p>
					</div>
				</div></li>
			</ul>
		</div>
		</section>
		<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h5>+EDUCATION <i class="fa fa-book"></i></h5>
				</div>
			</div>
			<ul class="list-group cover-text-bg">
				<li class="list-group-item">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<h5>2015</h5>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
							<p><strong>INDIAN CERTIFICATE OF SECONDARY EDUCATION (ICSE)</strong></p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<h5><img src="assets/XavKolKata.png" class="img-fluid"></h5>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
							<p>St. Xavier's Collegiate School<br>30 Mother Teresa Sarani<br>Kolkata 700016</p>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<h5>2017</h5>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
							<p><strong>ALL INDIA SENIOR SCHOOL CERTIFICATE EXAMINATION (CBSE)</strong></p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<h5><img src="http://davbistupur.org/MyImages/LOGO.png" class="img-fluid"></h5>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
							<p>D.A.V. Public School<br>Bistupur Jamshedpur 831001</p>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<h5>2017-2022(expected)</h5>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
							<p><strong>B.TECH IN COMPUTER SCIENCE AND MS IN COMPUTATIONAL LINGUSTICS</strong></p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
							<h5><img src="https://www.iiit.ac.in/img/iiit-new.png" class="img-fluid"></h5>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
							<p>International Institute of Information Technology<br>Hyderabad</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		</section>
		<section>
		<div class="container">
			
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h5>+LANGUAGES</h5>
				</div>
			</div>
			<ul class="list-group cover-text-bg">
				<li class="list-group-item
				"><div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<h5>MOTHER TONGUE</h5></div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<p><strong>BENGALI</strong></p>
					</div>
				</div></li>
				<li class="list-group-item"><div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<h5>Other Languages</h5></div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<ul>
							<li><h5>ENGLISH</h5>Learnt as first language, very good command both written and spoken</li>
							<li><h5>HINDI</h5>Acquired as a second language, very good working knowledge as usually both written and spoken</li>
						</ul>
					</div>
				</div></li>
			</ul>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h5>+IT SKILLS</h5>
				</div>
			</div>
			<ul class="list-group cover-text-bg">
				<li class="list-group-item"><div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<h5>SYSTEM DEVELOPMENT</h5>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<p>C,C++,Java,Python,Bash</p>
					</div>
				</div></li>
				<li class="list-group-item"><div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<h5>WEB-DEV</h5>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<p><strong>LANGUAGES: </strong>HTML,CSS,Javascript,PHP,SQL<br>
						<strong>FRAMEWORKS: </strong>Bootstrap,JQuery,Flask,Jekyll</p>
					</div>
				</div></li>
				<li class="list-group-item"><div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<h5>DESIGN</h5>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<p>GIMP</p>
					</div>
				</div></li>
			</ul>
		</div>
		</section>
		<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<h5>+PROFESSIONAL HIGHLIGHTS</h5>
					<ul class="list-group cover-text-bg">
						<li class="list-group-item">I love to take initiatives for new interesting ways of development and techniques.</li>
						<li class="list-group-item">I get actively involved in opensource projects for code and bugs solving..</li>
						<li class="list-group-item">Also a part of ECell IIITH Web Dev team</li>
					</ul>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<h5>+OTHER SKILLS AND HOBBIES</h5>
					<ul class="list-group cover-text-bg">
						<li class="list-group-item">Designing</li>
						<li class="list-group-item">Sketching</li>
						<li class="list-group-item">Watching Anime</li>
						<li class="list-group-item">Learnt Hindustani Classical Music</li>
						<li class="list-group-item">Trained from Academy of Fine Arts, Kolkata in Drawing, Sculpting and Collage</li>
					</ul>
				</div>
			</div>
		</div>
		</section>
	</div>