---
layout: page
---
<!--PreLoader-->
<!-- <section class="cover" id="preloader">
	<div class="container" id="home1">
		<div class="row overlay-text">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				<h1 class="cover-text-bg cover-text">LOADING<br><a href="#about"</a></h1>
				<img class="img-fluid" src="assets/animation_loader.gif">
				<h1>LOADING ...</h1>
			</div>	
		</div>
	</div>
</section> -->
<!-- Page content -->
<section>
	<div class="cover3">
		<div class="container" id="home3">
			<div class="row overlay-text cover-text-bg">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
					<h1 class="cover-text"><img src="./assets/Logo.png" class="img-fluid">MasterG Works Inc .</h1>
					<h1 class="cover-text"><a href="#ajay"><i class="fa fa-angle-double-down bounce"></i></a></h1>
				</div>	
			</div>
		</div>
	</div>
</section>

<!--main body starts-->

<!--Friends Gif Gallery-->

<section id="ajay">	
	<div class="cover">
		<div class="container" >
			<div class="row overlay-text cover-text-bg">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">		
  				</div>	
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-right">
					<h1 class="section_heading">Ajay Shrihari</h1>
					<h2 class="section_subheading">RadStrawHat</h2>
					<p>Also known as C3PO, Black Mamba and DL. Always talking about AI and Blockchain related stuff</p>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="https://web.iiit.ac.in/~ajay.shrihari"><i class="fa fa-globe"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.facebook.com/profile.php?id=100013663726432"><i class="fa fa-facebook"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="zubair">	
	<div class="cover">
		<div class="container" >
			<div class="row overlay-text cover-text-bg">
					
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left">
					<h1 class="section_heading">Zubair Abid</h1>
					<h2 class="section_subheading">Sheikhit</h2>
					<p>Always bored hungry and sleepy</p>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="https://researchweb.iiit.ac.in/~zubair.abid"><i class="fa fa-globe"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.facebook.com/zubair.abid.15"><i class="fa fa-facebook"></i></a>
						</li>
					</ul>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">		
  				</div>
			</div>
		</div>
	</div>
</section>
<section id="sravani">	
	<div class="cover">
		<div class="container" >
			<div class="row overlay-text cover-text-bg">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">		
  				</div>	
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-right">
					<h1 class="section_heading">Sravani B...</h1>
					<h2 class="section_subheading">No Comments</h2>
					<p>No Comments</p>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="https://researchweb.iiit.ac.in/~sravani.boinepelli"><i class="fa fa-globe"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.facebook.com/sravani.boinepelli"><i class="fa fa-facebook"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="deepti">	
	<div class="cover">
		<div class="container" >
			<div class="row overlay-text cover-text-bg">
					
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left">
					<h1 class="section_heading">Deepθi Mahesh</h1>
					<h2 class="section_subheading">RagnarokApproaches</h2>
					<p>Had named herself Toxic Sushi which led to a lot of controversy. Also bored and sleepy like Sheikhit</p>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="https://web.iiit.ac.in/~deepti.mahesh"><i class="fa fa-globe "></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.facebook.com/ragnarokapproaches"><i class="fa  fa-facebook"></i></a>
						</li>
					</ul>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">		
  				</div>
			</div>
		</div>
	</div>
</section>
<section id="ujwal">	
	<div class="cover">
		<div class="container" >
			<div class="row overlay-text cover-text-bg">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">		
  				</div>	
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-right">
					<h1 class="section_heading">Ujwal Narayan</h1>
					<h2 class="section_subheading">ChomskyFanBoi</h2>
					<p>Extrovert, flashy Chomsky fan boy from Madikedi</p>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="https://researchweb.iiit.ac.in/~ujwal.narayan"><i class="fa fa-globe "></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.facebook.com/ujwal.narayan"><i class="fa  fa-facebook"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="shelly">	
	<div class="cover">
		<div class="container" >
			<div class="row overlay-text cover-text-bg">
					
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left">
					<h1 class="section_heading">Shelly Jain</h1>
					<h2 class="section_subheading">Missnomer</h2>
					<p>The Pic says it all</p>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="https://researchweb.iiit.ac.in/~shelly.jain"><i class="fa fa-globe "></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.facebook.com/shelly.jain.5813"><i class="fa  fa-facebook"></i></a>
						</li>
					</ul>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">		
  				</div>
			</div>
		</div>
	</div>
</section>
<section id="yadavalli">	
	<div class="cover">
		<div class="container" >
			<div class="row overlay-text cover-text-bg">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">		
  				</div>	
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-right">
					<h1 class="section_heading">Aditya Yadavalli</h1>
					<h2 class="section_subheading">Tingu</h2>
					<p>The Incredible Sulk</p>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="https://researchweb.iiit.ac.in/~aditya.yadavalli"><i class="fa fa-globe"></i></a>
						</li>
						<li class="list-inline-item">
							<i class="fa fa-facebook"><a href="https://www.facebook.com/ayadavalli"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="saujas">	
	<div class="cover">
		<div class="container" >
			<div class="row overlay-text cover-text-bg">
					
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left">
					<h1 class="section_heading">Saujas Vaduguru</h1>
					<h2 class="section_subheading">LingoTA</h2>
					<p>Basically TA for every other subject.</p>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="https://researchweb.iiit.ac.in/~saujas.vaduguru"><i class="fa fa-globe "></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.facebook.com/profile.php?id=1683824273"><i class="fa  fa-facebook"></i></a>
						</li>
					</ul>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">		
  				</div>
			</div>
		</div>
	</div>
</section>
<!-- <section id="chacko">	
	<div class="cover">
		<div class="container" >
			<div class="row overlay-text cover-text-bg">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">		
  				</div>	
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-right">
					<h1 class="section_heading">Rohan Chacko</h1>
					<h2 class="section_subheading">HeadBoiChacko</h2>
					<p></p>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="https://web.iiit.ac.in/~rohan.chacko"><i class="fa fa-globe"></i></a>
						</li>
						<li class="list-inline-item">
							<i class="fa fa-facebook"><a href="https://www.facebook.com/rohan.chacko.35"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section> -->
<section id="sriven">
	<div class="cover">
		<div class="container">
			<div class="row overlay-text cover-text-bg">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">		
				</div>
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-right">
					<h1 class="section_heading">Sriven Reddy Nookala</h1>
					<h2 class="section_subheading">tallguy</h2>
					<p>Also happens to be my SSAD parnter and I hate him with my whole heart</p>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href=""><i class="fa fa-globe"></i></a>
						</li>
						<li class="list-inline-item">
							<i class="fa fa-facebook"><a href=""></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="sayar">
	<div class="cover">
		<div class="container">
			<div class="row overlay-text cover-text-bg">
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left">
					<h1 class="section_heading">Sayar Ghosh Roy</h1>
					<h2 class="section_subheading">bond++</h2>
					<p>Typical Bengali Mom all they way.</p>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href=""><i class="fa fa-globe"></i></a>
						</li>
						<li class="list-inline-item">
							<i class="fa fa-facebook"><a href=""></i></a>
						</li>
					</ul>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">		
				</div>
			</div>
		</div>
	</div>
</section>
<section id="aaron">
	<div class="cover">
		<div class="container">
			<div class="row overlay-text cover-text-bg">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">		
				</div>
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-right">
					<h1 class="section_heading">Aaron Augustine</h1>
					<h2 class="section_subheading">ronatello</h2>
					<p>Cool guy with a cool sketchpad. Also happens to be Sayar mommy's son</p>
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href=""><i class="fa fa-globe"></i></a>
						</li>
						<li class="list-inline-item">
							<i class="fa fa-facebook"><a href=""></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="./assets/js/cover-change.js"></script>
	
