---
layout: page
---
<!-- End of navbar-->
<section>
	<div class="cover">
		<div class="container" id="home">
			<div class="row overlay-text">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
					<img src="assets/Logo.png" class="cover-image img-fluid">
					<h1 class="logo-text">MasterG Works Inc.</h1>
					<h1 class="cover-text"><a href="#about"><i class="fa fa-angle-double-down bounce"></i></a></h1>
				</div>	
			</div>
		</div>
	</div>
</section>

<!--main body starts-->
<div class="container text-center">

	<!--About Me-->
	<section id="about">	
		<div class="cover">
			<div class="container" >
				<div class="row overlay-text cover-text-bg">
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">		
	  				</div>	
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-right">
						<h1 class="section_heading">Abhigyan Ghosh</h1>
						<h2 class="section_subheading">Student@IIIT-H</h2>
				  		<a class="btn" href="about">About Me</a>
			  			<a class="btn" href="cv.html">My CV</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<hr>
  	<!--Contact-->
  	<section id="contact">
	  	<div class="cover">
	  		<div class="container">
			  	<div class="row overlay-text cover-text-bg">
			  		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-left">
			  			<h1 class="section_heading">Contact</h1>
			  			<h5 class="section_subheading">Abhigyan Ghosh, IIIT Hyderabad, Gachibowli, Hyderabad-500032</h5>
			  			<p>You can also contact me by email <a href="mailto:abhigyan.ghosh.research@gmail.com"><i class="fa fa-envelope"></i></a>, or you can send me a message here:</p>
				  		<a class="btn" href="#form">Form</a>

			  		</div>
			  		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			  		</div>
			  	</div>
			</div>
		</div>
	</section>
	<section>
		<div class="cover">
			<div class="container" id="form">
				<div class="row overlay-text">
					<form action="https://formspree.io/abhigyanghosh30@gmail.com" method="POST">
				        <div class="row">
					         <div class = "col-sm-4 col-md-4">
					            <div class="form-group wide">
					              	<label for="contactname">Name</label>
					              	<input name="name" class="form-control" dir="auto" aria-label="Name  " aria-required="true" type="text" placeholder="John Doe">
					            </div>
					        </div>
					        <div class = "col-sm-4 col-md-4">
					            <div class="form-group wide">
					            	<label for="contactmail">Email address</label>
					            	<input name="_replyto" class="form-control" dir="auto" aria-label="Email  Please enter a valid email address" aria-required="true" title="Please enter a valid email address" type="email" placeholder="name@example.com" required>
					            </div>
					        </div>
					        <div class = "col-sm-4 col-md-4">
					            <div class="form-group wide">
					            	<label for="contactsub">Subject</label>
					            	<input name="subject" class="form-control" dir="auto" aria-label="Subject  " aria-required="true" title="" placeholder="Hello!" type="text">
					            </div>
					          </div>

					        <div class = "col-sm-12 col-md-12">
					            <div class="form-group wide">
					            	<label for="mailbody">Message</label>
					            	<textarea name="message" rows="6" cols="0" class="form-control" dir="auto" aria-label="Message  " aria-required="true" palceholder="Tell us your thooughts here!" required></textarea>
					            </div>
					        </div>
					        <input type="submit" class="col-sm-12 col-md-12 btn" value="Send">
					    </div>
				    </form>
				</div>
			</div>
		</div>
	</section>
</div>
